<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucy.timeline.mapper.PostMapper">
    <select id = "findPosts" resultType = "com.lucy.timeline.model.Post">
        with postings as (
            select
                post_no, user_no, contents, created_at
            from timeline.post
            where is_deleted='F'
            and user_no in (
                select user_no
                from timeline.t_follow f
                where f.follow_user_no = #{userNo}
            )
            union all
            select
                post_no, user_no, contents, created_at
            from timeline.post
            where is_deleted='F'
            and user_no = #{userNo}
        )
        select u.user_no, u.user_name, p.post_no, p.contents, p.created_at
        from postings p
        join timeline.t_user u
        on p.user_no = u.user_no
        order by p.insert_timestamp desc
    </select>

    <select id = "findPost" resultType="com.lucy.timeline.model.Post">
        select id, user_id, contents
        from timeline.post
        where
            id = #{postId}
            and user_id = #{userId}
    </select>

    <insert id="addPost" parameterType="com.lucy.timeline.model.Post">
        insert into timeline.post (user_id, contents)
        values ( #{userId}, #{contents} )
    </insert>

    <update id="updatePost" parameterType="com.lucy.timeline.model.Post">
        update timeline.post
        set
            contents = #{contents}
        where id = #{id}
    </update>

    <delete id = "deletePost">
        delete from timeline.post where id = #{postId}
    </delete>
</mapper>