<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucy.timeline.mapper.PostMapper">
    <select id = "findPosts" resultType = "com.lucy.timeline.model.Post">
        select *
        from (
            select p.id, p.user_id, p.contents, p.created_at, p.updated_at
            from timeline.post p
            where user_id = #{userId}

            union all

            select p.id, p.user_id, p.contents, p.created_at, p.updated_at
            from timeline.post p
            join timeline.follow f
            on p.user_id = f.follow_user_id
            where f.user_id = #{userId}
        ) a
        order by a.created_at desc
    </select>

    <select id = "findPost" resultType="com.lucy.timeline.model.Post">
        select id, user_id, contents
        from timeline.post
        where
            id = #{postId}
            and user_id = #{userId}
    </select>

    <insert id="addPost" parameterType="com.lucy.timeline.model.Post">
        insert into timeline.post (user_id, contents)
        values ( #{userId}, #{contents} )
    </insert>

    <update id="updatePost" parameterType="com.lucy.timeline.model.Post">
        update timeline.post
        set
            contents = #{contents}
        where id = #{id}
    </update>

    <delete id = "deletePost">
        delete from timeline.post where id = #{postId}
    </delete>
</mapper>