<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucy.timeline.mapper.UserMapper">

    <select id = "findUsers" resultType="com.lucy.timeline.model.User">
        select
            id, name, joined_at
        from timeline.user
        order by joined_at desc
    </select>

    <!-- follower_cnt, following cnt-->
    <select id = "findUser" resultType="com.lucy.timeline.model.dto.UserDetail">
        select
            id, name, joined_at,
            (select count(*) from timeline.follow where user_id = #{userId}) follower_cnt,
            (select count(*) from timeline.follow where follow_user_id = #{userId}) following_cnt
        from timeline.user
        where id = #{userId}
    </select>

    <select id = "addUser" parameterType="com.lucy.timeline.model.User">
        insert into timeline.user (name, joined_at)
        values ( #{name}, #{joinedAt} )
    </select>

    <update id= "updateUser" parameterType="com.lucy.timeline.model.User">
        update timeline.user
        set name = #{name}
        where id = #{id}
    </update>

    <delete id = "deleteUser">
        delete from timeline.user where id = {userId}
    </delete>

    <insert id = "addFollow" parameterType="com.lucy.timeline.model.Follow">
        with upsert as (
            update timeline.t_follow
            set is_deleted='F'
            where user_no = #{user_no} and follow_user_no = #{follow_user_no}
            returning follow_no
        )
        insert into timeline.t_follow
        (user_no, follow_user_no)
        select #{user_no}, #{follow_user_no}
        where not exists(select * from upsert)
    </insert>

    <delete id = "deleteFollow" parameterType="com.lucy.timeline.model.Follow">
        delete from timeline.follow
        where user_id = #{userId}
        and follow_user_id = #{followUserId}
    </delete>
</mapper>